.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  height: 300px;
  border: grey 1px solid;
}

.already-exist {
  height: 100vh;
  width: 100vw;
  background-color: red;
}